/* reset */
* {
    margin: 0;
    border: 0;
}

/* generic */
.container {
    padding-top: 70px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background: black;
}

.fb {
    float: left;
    width: 5px;
    height: 5px;
}
.cl-1 {
    background-color: antiquewhite
}
